<h2>Pages</h2>
<br>

<table class='table table-sm'>
  <thead class="thead-dark">
    <tr class=''>
      <th scope="col-3">Page</th>
      <th scope="col">Online</th>
      <th scope="col">Page Type</th>
      <th scope="col" class='text-right'></th>
    </tr>
  </thead>

  <tbody>
    <%= list_nested_pages(@pages) %>
  </tbody>
</table>
<br>

<%= link_to 'Create new page', new_page_path, :class => 'btn btn-success' %>
