/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
	padding-top: 60px;
}

thead tr {
	background-color: #D9EDF7;
}

.pages {
	.title {
		width: 100%;
	}

	.status {
		min-width: 130px;
	}

	.actions {
		min-width: 280px;
	}
}

.form-group {
	margin-top: 10px;
}

label {
	margin-bottom: 2px;
}

.field_with_errors, #error_explanation {
  color: #B40000;
  border-color: #B40000;
}

.horizontal-space {
  margin-left: 40px;
}