/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require webinius_cms/trix
 *= require_self
 */

// @import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
}

thead tr {
  background-color: #D9EDF7;
}

.pages {
  .title {
    width: 100%;
  }

  .status {
    min-width: 130px;
  }

  .actions {
    min-width: 280px;
  }
}

.form-group {
  margin-top: 10px;
}

label {
  margin-bottom: 2px;
}

.field_with_errors, #error_explanation {
  color: #B40000;
  border-color: #B40000;
}

.horizontal-space {
  margin-left: 40px;
}

hr.separator {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #8F8F8F -moz-use-text-color -moz-use-text-color;
  border-image: none;
  border-style: solid none none;
  border-width: 5px 0 0;
  margin-bottom: 20px;
  margin-top: 20px;
}

.trix-content {
  min-height: 300px;
  background-color: #fff;
}