/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

$container-large-desktop: 960px;

@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  height: 100%;
}

body {
  background-color: #333;
  font-family: 'Open Sans Light', "Helvetica", Helvetica, Arial, sans-serif;
  position: relative;
  font-size: 16px;
  color: #fff;
}

.container {
  margin-top: 10%;
}